@charset "UTF-8";
@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap);
h1 {
  font-family: "Shrikhand", cursive;
}

h2, h3, h4, p, li, a {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: initial;
}

.ohmyfood-head__title, .intro, .location {
  display: flex;
  justify-content: center;
  text-align: center;
}

.ohmyfood-menu__card .card__recipe, .ohmyfood-menu__services, .ohmyfood-footer, .index__container .container__restaurant, .intro {
  display: flex;
  flex-direction: column;
}

.index__container, .fonctionnement__list {
  display: flex;
  flex-wrap: wrap;
}

.ohmyfood-menu__main-title, .ohmyfood-head, .index__container .container__restaurant .restaurant__description, .fonctionnement__list .list__txt {
  display: flex;
  flex-direction: row;
}

/* Propriétes générales */
body, html {
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* Location */
.location {
  box-shadow: inset 0 6px 10px -10px rgb(71, 71, 71);
  background-color: rgb(226, 226, 226);
  font-weight: 900;
}
.location i {
  padding-right: 20px;
}

/* Introduction */
.intro {
  background-color: rgb(241, 241, 241);
  align-items: center;
}
.intro__txt {
  font-size: 1rem;
  width: 95%;
}
.intro__txt h2 {
  margin-bottom: 5px;
}
.intro__txt p {
  margin-top: 5px;
}

/* Fonctionnement */
.fonctionnement {
  margin: 0 0 2rem 0;
}
.fonctionnement__title {
  padding: 35px 0 0 15px;
  margin: 0;
}
.fonctionnement__list {
  list-style-type: none;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-left: 10px;
  padding: 0;
}
.fonctionnement__list .list__txt {
  align-items: center;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  max-width: 320px;
  border-radius: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.3rem;
  box-shadow: 0.5rem 0.5rem 0.6rem rgb(226, 226, 226), -1px -2px 5px rgb(241, 241, 241);
}
.fonctionnement__list .list__txt:hover .icone {
  color: #a16be0;
}
.fonctionnement__list .list__txt:hover {
  background-color: #e4d5f6;
}
.fonctionnement__list .icone {
  font-size: 1.2rem;
  padding-left: 20px;
  padding-right: 20px;
}
.fonctionnement__list .number {
  color: white;
  font-weight: normal;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 1rem;
  position: relative;
  right: 10px;
}

/* Les restaurants */
.index {
  background-color: rgb(241, 241, 241);
  padding-bottom: 50px;
}
.index__title {
  margin: 0;
  padding: 2.5rem 0 0.5rem 1rem;
}
.index__container {
  justify-content: center;
}
.index__container .container__restaurant {
  width: 90%;
  max-width: 600px;
  margin: 10px;
  padding: 0;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0.5rem 0.5rem 0.6rem rgb(226, 226, 226), -1px -2px 5px rgb(241, 241, 241);
  position: relative;
}
.index__container .container__restaurant .restaurant__new {
  position: absolute;
  display: grid;
  place-items: center;
  background: #99E2D0;
  color: #32b091;
  border-radius: 5%;
  font-weight: bold;
  height: 2rem;
  width: 5rem;
  right: 1rem;
  top: 1rem;
}
.index__container .container__restaurant .restaurant__new p {
  margin: 0;
}
.index__container .container__restaurant .restaurant__img {
  width: 100%;
  max-height: 180px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.index__container .container__restaurant .restaurant__description {
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}
.index__container .container__restaurant .restaurant__description .description__txt h3, .index__container .container__restaurant .restaurant__description .description__txt p {
  margin: 10px 0;
}
.index__container .container__restaurant .restaurant__description .description__heart {
  font-size: 2rem;
}
.index__container .container__restaurant .restaurant__description .description__heart i {
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  transition: all 200ms ease-in-out;
}
.index__container .container__restaurant .restaurant__description .description__heart:hover .fa-regular {
  opacity: 0;
}
.index__container .container__restaurant .restaurant__description .description__heart:hover .fa-solid {
  animation: hoverheart 1s forwards;
}
.index__container .container__restaurant .restaurant__description .description__heart .fa-solid {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  visibility: hidden;
}

/*Header*/
.ohmyfood-head {
  align-items: center;
}
.ohmyfood-head__title {
  margin: 1rem 0 0.5rem 0;
  font-weight: lighter;
  width: 100%;
}
.ohmyfood-head__return {
  font-size: 2rem;
  padding: 10px;
}
.ohmyfood-head__return i {
  display: flex;
}

.intro__btn {
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0.8rem 2.3rem;
  border-radius: 10rem;
  text-align: center;
  color: white;
  font-size: 1rem;
  font-weight: 100;
  border-style: none;
  background: linear-gradient(to top left, #9356DC 20%, #FF79DA);
  box-shadow: 1px 10px 10px rgb(226, 226, 226);
}
.intro__btn:hover {
  background: linear-gradient(to top left, #9356DC 5%, #FF79DA);
  box-shadow: 1px 1px 10px #FF79DA;
}

/* Footer*/
.ohmyfood-footer {
  background-color: rgb(71, 71, 71);
  list-style-type: none;
}
.ohmyfood-footer__title {
  font-size: 20px;
  font-weight: 100;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}
@media all and (min-width: 992px) and (max-width: 2000px) {
  .ohmyfood-footer__title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
}
.ohmyfood-footer__list {
  width: 60%;
  list-style-type: none;
  padding-left: 20px;
  margin: 0;
}
.ohmyfood-footer__list li {
  margin: 7px 0;
}
.ohmyfood-footer__list a {
  color: white;
}
.ohmyfood-footer__list a:hover {
  color: #c9abee;
}
.ohmyfood-footer__list i {
  padding-right: 8px;
}
@media all and (min-width: 992px) and (max-width: 2000px) {
  .ohmyfood-footer__list {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem 0;
    font-size: 1.2rem;
  }
}

/* Propriétés générales du Loader */
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgb(241, 241, 241);
  opacity: 1;
  overflow: hidden;
  animation: disappear 2s 3s forwards;
}
.loader::after {
  content: "";
  position: fixed;
  top: 28rem;
  width: 100px;
  height: 100px;
  border-top: 5px solid #9356DC;
  border-right: 5px solid transparent;
  border-left: 5px solid #FF79DA;
  border-radius: 50%;
  animation: spin 3s infinite linear;
}

/* Propriétés des lettres du loader*/
.lettre {
  color: #9356DC;
  font-size: 80px;
  font-family: "Shrikhand", cursive;
  margin-bottom: 150px;
  animation: flash 3s linear infinite;
}
@media all and (max-width: 500px) {
  .lettre {
    font-size: 50px;
  }
}

/* Animation des lettres du loader*/
@keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7px #99E2D0;
  }
  40% {
    color: #FF79DA;
    text-shadow: none;
  }
  60% {
    color: #99E2D0;
    text-shadow: 0 0 7px #99E2D0;
  }
  100% {
    color: #9356DC;
    text-shadow: 0 0 7px #9356DC;
  }
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

/* Animation pour que le loader disparaisse*/
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
/* Animation du spin loader*/
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* Animation d'apparition en cascade des restaurants, menus et du bouton*/
.container__restaurant, .ohmyfood-menu__entry, .ohmyfood-menu__services, .btn__commander {
  animation: apparition 3s forwards;
  visibility: hidden;
}

.container__restaurant:nth-child(1) {
  animation-delay: 3.2s;
}

.container__restaurant:nth-child(2) {
  animation-delay: 3.4s;
}

.container__restaurant:nth-child(3) {
  animation-delay: 3.6s;
}

.container__restaurant:nth-child(4) {
  animation-delay: 3.8s;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }
}
.ohmyfood-menu__entry:nth-child(2) {
  animation-delay: 3.2s;
}

.ohmyfood-menu__entry:nth-child(4) {
  animation-delay: 3.4s;
}

.ohmyfood-menu__entry:nth-child(6) {
  animation-delay: 3.6s;
}

.ohmyfood-menu__services:nth-child(3) {
  animation-delay: 3.5s;
}

.ohmyfood-menu__services:nth-child(5) {
  animation-delay: 3.7s;
}

.ohmyfood-menu__services:nth-child(7) {
  animation-delay: 3.9s;
}

.btn__commander {
  animation-delay: 4s;
}

/* Animation du coeur */
@keyframes hoverheart {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
/* Animation du check mark */
@keyframes check {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotatecheck {
  to {
    transform: rotate(360deg);
  }
}
/* Image du restaurant */
.ohmyfood-img {
  position: relative;
  height: 270px;
}
.ohmyfood-img img {
  position: relative;
  width: 100%;
  height: 350px;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

/* Titre principal + coeur + Titres secondaires */
.ohmyfood-menu {
  background: rgb(241, 241, 241);
  border-radius: 1.5rem 1.5rem 0 0;
}
.ohmyfood-menu__main-title {
  justify-content: space-between;
  align-items: center;
}
@media all and (min-width: 992px) and (max-width: 2000px) {
  .ohmyfood-menu__main-title {
    margin-left: 40%;
  }
}
.ohmyfood-menu__main-title h1 {
  padding: 5px 0 0 15px;
  font-size: 1.5rem;
}
@media all and (min-width: 992px) and (max-width: 2000px) {
  .ohmyfood-menu__main-title h1 {
    font-size: 2rem;
  }
}
.ohmyfood-menu__main-title .description__heart {
  font-size: 2.5rem;
  cursor: pointer;
}
.ohmyfood-menu__main-title .description__heart i {
  position: absolute;
  top: 22.5rem;
  right: 2rem;
  transition: all 200ms ease-in-out;
}
.ohmyfood-menu__main-title .description__heart:hover .fa-regular {
  opacity: 0;
}
.ohmyfood-menu__main-title .description__heart:hover .fa-solid {
  animation: hoverheart 1s forwards;
}
.ohmyfood-menu__main-title .description__heart .fa-solid {
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  visibility: hidden;
}
.ohmyfood-menu__entry {
  padding-left: 25px;
  position: relative;
}
.ohmyfood-menu__entry::after {
  content: "";
  position: absolute;
  top: 1.4rem;
  left: 1.5rem;
  width: 2.6rem;
  height: 0.25rem;
  background-color: #99E2D0;
}
@media all and (min-width: 992px) and (max-width: 2000px) {
  .ohmyfood-menu__entry {
    margin-left: 23%;
  }
}

/* Bloc contenant tous les plats */
@media all and (min-width: 992px) and (max-width: 2000px) {
  .ohmyfood-menu__services {
    margin-left: 23%;
  }
}

/* Les cartes des plats + le check mark*/
.ohmyfood-menu__card {
  display: flex;
  width: 90%;
  max-width: 700px;
  padding: 0 0 0 1rem;
  margin: 10px 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 4px 4px rgb(226, 226, 226);
}
.ohmyfood-menu__card:hover .card__check {
  margin-right: 0.1px;
  animation: check 1s forwards;
}
.ohmyfood-menu__card:hover .card__check i {
  animation: rotatecheck 1s forwards;
}
.ohmyfood-menu__card .card__recipe {
  width: 100%;
  overflow: hidden;
}
.ohmyfood-menu__card .recipe__title {
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ohmyfood-menu__card .recipe__subline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ohmyfood-menu__card .recipe__subline p {
  margin: 0 0 10px 0;
}
.ohmyfood-menu__card .recipe__subline .subline__detail {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ohmyfood-menu__card .recipe__subline .subline__price {
  font-weight: bolder;
  color: rgb(71, 71, 71);
  padding-right: 1rem;
}
.ohmyfood-menu__card .card__check {
  width: 4rem;
  border-radius: 0 10px 10px 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  opacity: 0;
  transition: margin-right 0.5s;
  display: grid;
  place-items: center;
}
.ohmyfood-menu__card .card__check i {
  color: white;
  font-size: 1.5rem;
}

/* Bouton commander au centre */
.btn__commander {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
