.intro__btn {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 1.5rem 0 1.5rem;
    border-radius: 10rem;
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 100;
    border-style: none;
    background: linear-gradient(to top left, $color-primary 20%, $color-secondary);
    box-shadow: 1px 10px 10px $color-normal-grey;
    
    &:hover{
        background: linear-gradient(to top left, $color-primary 5%, $color-secondary);
    }
}
