body {
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}


.fonctionnement {
    margin: 0 0 3.5rem 0;

    &__title {
        padding: 35px 0 0 15px;
        margin: 0;
    }

    &__list {
        list-style-type: none;
        @extend %flex-wrap;
        justify-content: space-evenly;
        margin-top: 25px;
        margin-left: 10px;
        padding: 0;
        
        .list__txt {
            @extend %flex-row;
            align-items: center;
            cursor: pointer;
            background-color: $color-light-grey;
            font-weight: bold;
            font-size: 1rem;
            width: 100%;
            max-width: 320px;
            border-radius: 20px;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-right: 0.3rem;
            box-shadow: 0.5rem 0.5rem 0.6rem $color-normal-grey, -1px -2px 5px $color-light-grey;

            &:hover {
                background-color: lighten($color-primary, 30%);
                color: lighten($color-primary, 5%);
                box-shadow: 0.5rem 0.5rem 0.2rem $color-normal-grey, -1px -2px 2px $color-light-grey;
            }
        }
        .icone {
            font-size: 1.2rem;
            padding-left: 20px;
            padding-right: 20px;
            
        }
        .number {
            color: white;
            font-weight: normal;
            background-color: $color-primary;
            border-radius: 50%;
            padding: 5px 10px;
            font-size: 1rem;
            position: relative;
            right: 10px;
        }
    }
}

.index {
    background-color: $color-light-grey;
    padding-bottom: 50px;

    &__title {
        margin: 0;
        padding: 2.5rem 0 0.5rem 1rem;
    }

    &__container {
        @extend %flex-wrap;
        justify-content: center;

        .container__restaurant {
            @extend %flex-column;
            width: 90%;
            max-width: 600px;
            margin: 10px;
            padding: 0;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0.5rem 0.5rem 0.6rem $color-normal-grey, -1px -2px 5px $color-light-grey;
            position: relative;

            .restaurant__new {
                position: absolute;
                display: grid;
                place-items: center;
                background: $color-tertiary;
                color: darken($color-tertiary, 30%);
                border-radius: 5%;
                font-weight: bold;
                height: 2rem;
                width: 5rem;
                right: 1rem;
                top: 1rem;
                p {
                    margin: 0;
                }
            }

            .restaurant__img {
                width: 100%;
                max-height: 180px;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
            }

            .restaurant__description {
                @extend %flex-row;
                justify-content: space-between;
                padding-left: 1rem;

                h3 {
                    margin-top: 10px;
                    margin-bottom: 5px;
                }

                p {
                    margin-top: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}


