body {
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.location {
    @extend %flex-center;
    box-shadow: inset 0 6px 10px -10px $color-dark-grey;
    background-color: $color-normal-grey;
    font-weight: 900;

    i {
        padding-right: 20px;
    }
}
    
.intro {
    @extend %flex-column;
    @extend %flex-center;
    background-color: $color-light-grey;
    align-items: center;

    &__txt {
        font-size: 1rem;
        width: 95%;

        h2 {
            margin-bottom: 5px;
        }

        p {
            margin-top: 5px;
        }
    }
}

.fonctionnement {
    margin: 0 0 2rem 0;

    &__title {
        padding: 35px 0 0 15px;
        margin: 0;
    }

    &__list {
        list-style-type: none;
        @extend %flex-wrap;
        justify-content: space-evenly;
        margin-top: 25px;
        margin-left: 10px;
        padding: 0;
        
        .list__txt {
            @extend %flex-row;
            align-items: center;
            cursor: pointer;
            background-color: $color-light-grey;
            font-weight: bold;
            font-size: 1rem;
            width: 100%;
            max-width: 320px;
            border-radius: 20px;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-right: 0.3rem;
            box-shadow: 0.5rem 0.5rem 0.6rem $color-normal-grey, -1px -2px 5px $color-light-grey;

            &:hover .icone {
                color: lighten($color-primary, 5%);
            }

            &:hover {
                background-color: lighten($color-primary, 30%);
            }
        }
        .icone {
            font-size: 1.2rem;
            padding-left: 20px;
            padding-right: 20px;
            
        }
        .number {
            color: white;
            font-weight: normal;
            background-color: $color-primary;
            border-radius: 50%;
            padding: 5px 10px;
            font-size: 1rem;
            position: relative;
            right: 10px;
        }
    }
}

.index {
    background-color: $color-light-grey;
    padding-bottom: 50px;

    &__title {
        margin: 0;
        padding: 2.5rem 0 0.5rem 1rem;
    }

    &__container {
        @extend %flex-wrap;
        justify-content: center;

        .container__restaurant {
            @extend %flex-column;
            width: 90%;
            max-width: 600px;
            margin: 10px;
            padding: 0;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0.5rem 0.5rem 0.6rem $color-normal-grey, -1px -2px 5px $color-light-grey;
            position: relative;

            .restaurant__new {
                position: absolute;
                display: grid;
                place-items: center;
                background: $color-tertiary;
                color: darken($color-tertiary, 30%);
                border-radius: 5%;
                font-weight: bold;
                height: 2rem;
                width: 5rem;
                right: 1rem;
                top: 1rem;
                p {
                    margin: 0;
                }
            }

            .restaurant__img {
                width: 100%;
                max-height: 180px;
                border-radius: 20px 20px 0 0;
                object-fit: cover;
            }

            .restaurant__description {
                @extend %flex-row;
                justify-content: space-between;
                align-items: center;
                padding-left: 1rem;

                .description__txt {
                    h3 , p {
                        margin: 10px 0;
                    }

                }

                .description__heart {
                    font-size: 2rem;                   
                    
                    i {
                        position: absolute;
                        right: 1rem;
                        bottom: 2rem;
                        transition: all 200ms ease-in-out;
                    }

                    &:hover .fa-regular {
                        opacity: 0;
                    }

                    &:hover .fa-solid {
                        animation: hoverheart 1s forwards;
                    }

                    .fa-solid {
                        color: transparent;
                        background-image: linear-gradient($color-primary , $color-secondary);
                        background-clip: text;
                        -webkit-background-clip: text;
                        visibility: hidden;           
                    }
                }
            }            
        }
    }
}


