/*Header*/
.ohmyfood-head {
    @extend %flex-row;
    align-items: center;

    &__title {
        @extend %flex-center;
        margin: 1rem 0 0.5rem 0;
        font-weight: lighter;
        width: 100%;
    }
    
    &__return {
        font-size: 2rem;
        padding: 10px;

        i {
            display: flex;
        }
    }
}

