@import url(https://fonts.googleapis.com/css2?family=Shrikhand&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap);

$font-logo: 'Shrikhand' , cursive;
$font-txt: 'Roboto' , sans-serif;

h1 {
    font-family: $font-logo;
}

h2, h3, h4, p, li, a {
    font-family: $font-txt;
}

a {
    text-decoration: none;
    color: initial;
}
