.ohmyfood-img {
    img {
        position: relative;
        top: 25px;
        width: 100%;
        height: 210px;
        z-index: -1;
        object-fit: cover;
        object-position: center;
    } 

}

.ohmyfood-menu {
    background: $color-light-grey;
    border-radius: 1.5rem 1.5rem 0 0;
    z-index: 1;
    
    &__main-title {
        @extend %flex-row;
        justify-content: space-between;
        align-items: center;

        h1 {
            padding: 5px 0 0 15px;
            font-size: 1.5rem;
        }

        .description__heart {
            font-size: 2rem;                   
            cursor: pointer;
            i {
                position: absolute;
                top: 18rem;
                right: 2rem;
                transition: all 200ms ease-in-out;
            }

            &:hover .fa-regular {
                opacity: 0;
            }

            &:hover .fa-solid {
                animation: hoverheart 1s forwards;
            }

            .fa-solid {
                color: transparent;
                background-image: linear-gradient($color-primary , $color-secondary);
                background-clip: text;
                -webkit-background-clip: text;
                visibility: hidden;           
            }
        }
    }

    &__entry {
       font-weight: lighter;
       padding: 10px;
    }
}

