/* Propriétés générales du Loader */
.loader {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: $color-light-grey;
    opacity: 1;
    overflow: hidden;
    animation: disappear 2s 3s forwards;


    &::after {
        content: "";
        position: fixed;
        top: 28rem;
        width: 100px;
        height: 100px;
        border-top: 5px solid $color-primary;
        border-right: 5px solid transparent;
        border-left: 5px solid $color-secondary;
        border-radius: 50%;
        animation: spin 3s infinite linear;
    }
}

/* Propriétés des lettres du loader*/
.lettre {
    color: $color-primary;
    font-size: 80px;
    font-family: $font-logo;
    margin-bottom: 150px;
    animation: flash 3s linear infinite;

    @include mobile {
        font-size: 50px;
    }
}

/* Animation des lettres du loader*/
@keyframes flash {
    0% {
        color: $color-primary;
        text-shadow: 0 0 7px $color-tertiary;
    }
    40% {
        color: $color-secondary;
        text-shadow: none;
    }
    60% {
        color: $color-tertiary;
        text-shadow: 0 0 7px $color-tertiary;
    }
    100% {
        color: $color-primary;
        text-shadow: 0 0 7px $color-primary;
    }
}
.lettre:nth-child(1) {
    animation-delay: 0.1s;
}
.lettre:nth-child(2) {
    animation-delay: 0.2s;
}
.lettre:nth-child(3) {
    animation-delay: 0.3s;
}
.lettre:nth-child(4) {
    animation-delay: 0.4s;
}
.lettre:nth-child(5) {
    animation-delay: 0.5s;
}
.lettre:nth-child(6) {
    animation-delay: 0.6s;
}
.lettre:nth-child(7) {
    animation-delay: 0.7s;
}
.lettre:nth-child(8) {
    animation-delay: 0.8s;
}

/* Animation pour que le loader disparaisse*/
@keyframes disappear {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

/* Animation du spin loader*/
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Animation d'apparition en cascade des restaurants, menus et du bouton*/
.container__restaurant , .ohmyfood-menu__entry , .ohmyfood-menu__services , .btn__commander {
    animation: apparition 3s forwards;      
    visibility: hidden;
}
.container__restaurant:nth-child(1) {
    animation-delay: 3.2s;
}
.container__restaurant:nth-child(2) {
    animation-delay: 3.4s;
}
.container__restaurant:nth-child(3) {
    animation-delay: 3.6s;
}
.container__restaurant:nth-child(4) {
    animation-delay: 3.8s;
}
@keyframes apparition {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
    }

}
.ohmyfood-menu__entry:nth-child(2) {
    animation-delay: 3.2s;
}
.ohmyfood-menu__entry:nth-child(4) {
    animation-delay: 3.4s;
}
.ohmyfood-menu__entry:nth-child(6) {
    animation-delay: 3.6s;
}
.ohmyfood-menu__services:nth-child(3) {
    animation-delay: 3.5s;
}
.ohmyfood-menu__services:nth-child(5) {
    animation-delay: 3.7s;
}
.ohmyfood-menu__services:nth-child(7) {
    animation-delay: 3.9s;
}
.btn__commander {
    animation-delay: 4s;
}

/* Animation du coeur */
@keyframes hoverheart {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

/* Animation du check mark */
@keyframes check {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes rotatecheck {
    to {
        transform: rotate(360deg);
    }
}
